.cproject
.project
configure
generated-sources/
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.*
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
.libs/
*.la
*.o
*.lo
stamp-h1
.deps/
*_run
.dirstamp
